html{
    height:100%;
    padding:0;
    margin:0;
    background-image:url("Content//background.svg");
    background-color:#222222;
}

body {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  margin-top:50px;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height:calc(100% - 50px);
  width:100%;
}

#root{
    height:auto;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #00be8a99;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    backdrop-filter: blur(0);
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

#title-link{
    margin-top:-15%;
    color: #ebd999;
    font-size:1.2rem;
}

nav{
    background-color:#222222ee
}

ul,nav {
    position:fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #ebd999;
        text-align: center;
        width:fit-content;
        height:100%;
        padding:12px;
        margin:0;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color:#ffffff11;
        }


#nav-underline {
    position: absolute;
    background-color:#C62368 ;
    height: 4px;
    left: 0;
    width: 100%;
    bottom: 4px;
    transition: 0.5s;
    border-radius: 3px;
}

#nav-highlight {
    position: absolute;
    background-color: #FA7268;
    height: 4px;
    left: 0;
    width: 0;
    bottom: 10px;
    border-radius: 3px;
}

@keyframes show {
    from {
        left:calc(var(--l) + (var(--w)/2));
        width:0px;
    }

    to {        
        left: var(--l, 0);
        width: var(--w, 0);
    }
}

#title {
    position: absolute;
    padding:0 40%;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: 5rem;
    color: #e8e0d8;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    display: block;
    
}

#title-background {
    position: absolute;
    top: 25%;
    height:50%;
    width:100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: linear-gradient(26.62deg, #C6236866 20.64%, #f1943e99 25%),
        linear-gradient(56.79deg, #B95BE6 33.79%, rgba(185, 91, 230, 0) 72.67%),
        linear-gradient(301.08deg, #ebd99999 10%, #faaf6999 10%),
        linear-gradient(141.57deg, #faaf6999 19.08%, #faaf6966 98.72%, #D3E4FF);
    background-blend-mode: normal,hard-light,normal,darken,normal,normal;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    opacity:0.6;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.page-title {
    margin: 2rem;
    font-size: 4rem;
    color: #C62368;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p {
    font-size: 1.5rem;
    margin: 0;
    background-color: #ffffff22;
    padding:10% 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.p0 {
    background-color: #0000;
    color: #ebd999;
    border: 5px solid #ebd999;
    margin:1rem;
    border-radius:10px;
}

.p1 {
    color: #00be8aff;
    background: linear-gradient(26.62deg, #C6236866 20%, #f1943e99 20%), linear-gradient(56.79deg, #B95BE6 33.79%, rgba(185, 91, 230, 0) 72.67%), linear-gradient(301.08deg, #ebd99999 10%, #faaf6999 10%), linear-gradient(141.57deg, #faaf6999 10%, #faaf6966 10%, #D3E4FF);
    background-blend-mode: normal,hard-light,normal,darken,normal,normal;
    font-weight:600;
}


.p2 {
    background-color: #0000;
    color: #C62368;
    border: 5px solid #FA7268;
    margin: 1rem;
    border-radius: 10px;
}