html {
    height: 100%;
    padding: 0;
    margin: 0;
    
    background-color:#222222FF;
}

#html-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color:#333333;

    -webkit-mask-image: url("Content//background.svg");
    mask-image: url("Content//background.svg");
    
    background-size: 400% 400%;
    z-index: -1000000000000000000;
    /**/

}
    #html-background.with-mask{
        background-image: linear-gradient(-45deg, #1BCFAB,#333333, #0087B8);
       animation-name:gradient;
    animation-duration:15s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;

    }


    #html-background.scroll {
        animation: html-bg-onScroll 99s ease forwards;
    }

@keyframes html-bg-onScroll{
    0% {
        background-color: var(#333);
    }
    50%{
        background-color:var(--bgColour);
    }
    100% {
        background-color: var(#333);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 0;
    padding: 0;
    font-family: 'Raleway' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: calc(100% - 50px);
    width: 100%;
}

#root{
    height:auto;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #ddddddff;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    backdrop-filter: blur(0);
    background: #1BCFAB;
    background: linear-gradient(to right, #1BCFAB 0%, #0087B8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width:fit-content;

}


button{
    border-radius:999999em;
    border-style:none;
    padding:.5em;
    font-weight:600;
    font-size:1rem;
    text-align:center;
    color:#D3E4FF;
    background-color:#0087B8;
    margin:0;
    top:0;
    
    animation: btn-offHover 1s ease 0s 1 normal forwards;
}

    button:hover {
        animation: btn-onHover 1s ease 0s 1 normal forwards;
    }

@keyframes btn-onHover{
    from {
        background-color:#0087B8;
    }
    to{
        background-color:#1BCFAB;
    }
}

@keyframes btn-offHover {
    from {
        background-color: #1BCFAB;
    }

    to {
        background-color: #0087B8;
    }
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color:#c1c1c1;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
    
}

img {
    flex-shrink: 10;
    width:80%;
    min-width: 50%;
    min-height: 50%;
}


nav{
    
    
}

ul,nav {
    position:fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
    display:flex;
    flex-wrap: wrap;height:fit-content;background-color:#222222ee;
}

li {
    float:left;
    height:fit-content;
}

    li a {
        display: block;
        color: #c1c1c1;
        text-align: center;
        width: fit-content;
        height: 100%;
        padding: 12px;
        margin: 0;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color:#ffffff11;
        }


#nav-underline {
    position: fixed;
    background-color: #0087B8;
    height: 4px;
    left: 0;
    width: 100%;
    bottom: 4px;
    transition: 0.5s;
    border-radius: 3px;
}

#nav-highlight {
    position: fixed;
    background-color: #1BCFAB;
    height: 4px;
    left: 0;
    width: 0;
    bottom: 10px;
    border-radius: 3px;
}
    #nav-highlight.show {
        animation-name: show-hightlight;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode:forwards;
    }

@keyframes show-hightlight {
    from {
        left:calc(var(--l) + (var(--w)/2));
        width:0px;
    }

    to {        
        left: var(--l, 0);
        width: var(--w, 0);
    }
}

#title-container {
    position:relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 4fr 1fr 5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . ."
        "title title title title title"
        ". link1 logo link2 ."
        ". . . . .";
    align-items: center;
}

.title-link{
    color: #ebebeb;
    font-size:1.2rem;
    width:100%;
    top:0;
    height:fit-content;
    align-content:center;
}

#title-btn{
    min-width:fit-content;
    width:stretch;
    margin:0 2em;
    right:0;
}



.background-blur {
    background: radial-gradient(circle at center,#1BCFAB66 25%,#0087B866 50%, #0087B800 75%,#0087B800 100%);
    background-blend-mode: normal,hard-light,normal,darken,normal,normal;
    backdrop-filter: blur(10px);
}


span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.page-title {
    position: relative;
    top: 25px;
    margin: 2rem;
    font-size: 4rem;
    background: linear-gradient(to right, #1BCFAB 0%, #0087B8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff22;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content-container {
    position: relative;
    top: 0;
    height: 100vh;
    background: linear-gradient(26.62deg, #C6236866 20%, #f1943e00 20%), linear-gradient(56.79deg, #B95BE600 33.79%, rgba(185, 91, 230, 0) 72.67%), linear-gradient(301.08deg, #ebd99900 10%, #faaf699900 10%), linear-gradient(141.57deg, #faaf6999 10%, #faaf6966 10%, #D3E4FF);
    background-blend-mode: normal,hard-light,normal,darken,normal,normal;
    margin: 0;
    box-shadow: 0 0 5em #222222ee inset;
}

p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 4rem;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.p0 {
    display:inline;
    background-color:#222222ee;
    height:auto;
    backdrop-filter:blur(1px);
    color:#0087B8;
    border-radius:10px;
    border-width:2px;
    border-color:#EEEEEE44;
    border-style:solid;
    padding:.75em;
    margin:2em;
    
}



.p1 {
    color: #0087B8;
    font-weight: 600;
    height: inherit;
    background-color: #44444444;
}


.p2 {
    background-color: #FFFFFF22;
    color: #0087B8;
    border: 5px solid #1BCFAB;
    margin: 1rem;
    border-radius: 10px;
}

.p3 {
    background-color: #44444444;
    height: auto;
    backdrop-filter: blur(1px);
    color: #0087B8;
    border-radius: 10px;
    border-width: 2px;
    border-color: #EEEEEE44;
    border-style: solid;
    padding: .75em;
    margin: 5% 10%;
    animation-name:show;
    animation-duration:2s;
    animation-timing-function: ease;

}

.p-container {
    display: grid;
    grid-template-columns: 50% repeat(
      auto-fit,
      minmax(
        350px, /* min value */
        1fr /* max value */
      )
    );
    align-items:center;
}

@keyframes show{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


input{
    background-color:#222222ee;
    padding:1em;
    border-style:none;
    outline:none;
    border-radius:1rem;
    color:#1BCFAB;
    font-size:1rem;
    font-weight:500;
    height:fit-content;
    
}

#qwerty{
    fill:#faaf6966;
}





/*Toogle switch*/

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: .4em 2em;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0087B8;
    -webkit-transition: .4s;
    transition: .4s;
    transition-timing-function:ease;
}

    .toggle-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        transition-timing-function: ease;
    }

input:checked + .toggle-slider {
    background-color: #1BCFAB;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
    border-radius: 34px;
}

    .toggle-slider.round:before {
        border-radius: 50%;
    }



img.account-icon{
    content:url("Content//account-icon.svg");
    width:100%;
    height:100%;
}

.img-container {
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #FFFFFF44;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0 10%;
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: ease;
}


    .img-container > img {
        width: fit-content;
        height: fit-content;
    }
        .img-container:hover > img {
            animation-name: img-zoom;
            animation-duration:1s;
            animation-timing-function:ease-in-out;
            animation-fill-mode:forwards;

        }

@keyframes img-zoom{
    to{
        transform:scale(1.2);
    }
}

svg{
    min-width:20px;
    min-height:20px;
}

.path {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation-name: path-loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes path-loop{
    0% {
        stroke-dashoffset: var(--length);
    }
    49% {
        stroke-dashoffset: var(--end,0);
    }
    51% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: var(--length);
    }
}

.show-on-hover{
    opacity:0;
}

.show-on-hover:hover {
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode:forwards;
}



#footer-preview {
    position: sticky;
    bottom: 0;
    padding: .5rem;
    background-color: #333333ee;
    color: #c1c1c1;
    display:grid;
    grid-template-columns: 1fr 3fr;
    align-items:center;
}

footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:auto;
    position:relative;
    left:0;
    padding:1rem;
    background-color:#222222ee;
    color:#c1c1c1;

}