html{
    height:100%;
    padding:0;
    margin:0;
}

body {
  position:fixed;
  top:0;
  left:0;
  margin:0;
  margin-top:50px;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("Content//background.svg");
  height:calc(100% - 49px);
  width:100%;
}

#root{
    height:100%;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #00be8a99;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    backdrop-filter: blur(0);
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

#title-link{
    margin-top:-15%;
    color: #ebd999;
    font-size:1.2rem;
}

nav{
    background-color:#222222ee
}

ul,nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #ebd999;
        text-align: center;
        width:fit-content;
        height:100%;
        padding:12px;
        margin:0;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color:#ffffff11;
        }


#nav-underline {
    position: absolute;
    background-color:#C62368 ;
    height: 4px;
    left: 0;
    width: 100%;
    bottom: 4px;
    transition: 0.5s;
    border-radius: 3px;
}

#nav-highlight {
    position: absolute;
    background-color: #FA7268;
    height: 4px;
    left: 0;
    width: 0;
    bottom: 10px;
    border-radius: 3px;
}

@keyframes show {
    from {
        left:calc(var(--l) + (var(--w)/2));
        width:0px;
    }

    to {        
        left: var(--l, 0);
        width: var(--w, 0);
    }
}

#title {
    position: absolute;
    padding:0 40%;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    font-size: 5rem;
    color: #e8e0d8;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    display: block;
    
}

#title-background {
    
    position: absolute;
    top: 25%;
    left: 30%;
    right: 0;
    margin: 0;
    width:40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: linear-gradient(26.62deg, #C6236866 20.64%, #f1943e99 25%),
        linear-gradient(56.79deg, #B95BE6 33.79%, rgba(185, 91, 230, 0) 72.67%),
        linear-gradient(301.08deg, #ebd99999 10%, #faaf6999 10%),
        linear-gradient(141.57deg, #faaf6999 19.08%, #faaf6966 98.72%, #D3E4FF);
    background-blend-mode: normal,hard-light,normal,darken,normal,normal;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    opacity:0.6;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}